//Home screen style Sheet

.root{
	-fx-background-color: gray;
}

.button{
	-fx-background-color: green;
	-fx-text-fill: white;
}

.text{
	-fx-font-size: 36pt;
	-fx-font-family: "arial";
	-fx-font-style: italic;
    -fx-effect: dropshadow(one-pass-box, black,0,0,0,6);
}

#title{
	-fx-font-size: 72pt;
	-fx-font-family: "arial";
	-fx-font-style: italic;
	-fx-fill: white;
	-fx-effect: dropshadow(one-pass-box, black,0,0,0,6);
}